.container {
	max-width: 1626px;
	padding: 0 30px;
	margin: 0 auto;
}

.site_container{
	overflow: hidden;
}
.flex{
	display: flex;
}

.btn_reset{
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.section_title{
	color: #1c2e3d;
	font-weight: 700;
	font-size: 64px;
	line-height: 80px;
} 	
.section_title_center{
	text-align: center;
	max-width: none;
}

.btn{
	font-weight: 500;
	font-size: 19px;
	padding: 20px 70px;
    background-color: var(--orange-color);
    border-radius: 8px;
    color: var(--white-color);
}