.swiper-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 100px 0 !important;
  margin-top: 50px;
}

.swiper-slide {
  position: relative;
  background: #e3e3e3;
  border-radius: 8px;
  height: 500px !important;
  width: 890px !important;
  transition: transform 0.4s !important;
   
}

.swiper-slide img{
border-radius: 8px;
}

.swiper-slide::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(180deg, rgba(0,0,0,0.0001) 50%, rgba(0,0,0,0.5) 100%);
  opacity: 0;
  transition: opacity 0.4s;
  display: flex;
  overflow: hidden;
}

.swiper-slide-active{
    transform: scaleX(1.16) scaleY(1.2);
    transition: transform 0.4s !important;
    height: 500px !important;
}

.swiper-slide-active::after{
  opacity: 1;
  transition: opacity 0.4s;
}

.featured_videos {
  padding-top: 150px;
  padding-bottom: 50px;
}

.f_vid_descr {
  text-align: center;
  margin: 0 auto;
  max-width: 650px;
  font-family: "SFCompact", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #788692;
  margin-top: 27px;
}

.swiper_title{
  font-weight: 700;
  font-size: 32px;
  color: var(--white-color);
  left: 10px;
  bottom: 25px;
  position: absolute;
  transition: transform 0.4s;
  transform: translateX(200px);
}

.swiper-slide-active .swiper_title{
  transition: transform 0.4s;
  transform: translateX(0);
}

.swiper_play{
  position: absolute;
  left: 40px;
  top: 40px;
  width: 100px;
  height: 100px;
  background-image: url(/img/play-red-button.png);
}

.swiper-slide video{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}